@model AppointmentScheduling.Models.ViewModels.RegisterVM
<style>
    body {
        color: #000;
        overflow-x: hidden;
        height: 661px;
        background-image: url(/img/33.jpg);
        background-repeat: no-repeat;
        background-size: 100% 91%
    }

    .card {
        padding: 30px 40px;
        margin-top: 100px;
        margin-bottom: -53px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .blue-text {
        color: #00BCD4
    }

    .form-control-label {
        margin-bottom: 0
    }

    input,
    textarea,
    button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300
    }

        input:focus,
        textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00BCD4;
            outline-width: 0;
            font-weight: 400
        }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        font-weight: 400;
        height: 43px;
        cursor: pointer
    }

        .btn-block:hover {
            color: #fff !important
        }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
</style>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">Register</h5>
                <form class="form-card" method="post" asp-action="Register" asp-controller="Account">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Name<span class="text-danger"> *</span></label> <input asp-for="Name" type="text" id="fname" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input asp-for="Email" type="text" id="fname" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> <input asp-for="Password" type="password" id="fname" placeholder="Password">
                            <span asp-validation-for="Password"  class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Confirm Password<span class="text-danger"> *</span></label> <input asp-for="ConfPassword"  type="password" id="fname" placeholder="Confirm Password">
                            <span asp-validation-for="ConfPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Role Name<span class="text-danger"> *</span></label> <select asp-for="RoleName" asp-items="@AppointmentScheduling.Utility.Helper.rolesDropDown()" class="form-control" id="fname" placeholder="Role NAme"></select>
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <input  type="submit" value="Register" class="btn btn-success" style="width: 18%; margin-left: 42%; background-color: cadetblue" />
                        </div>
                    </div>
                    <p>
                        <a asp-action="Login">Sign In</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
            }